* {
  margin: 0;
  padding: 0;
  text-align: center;
}
.full {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-body {
  height: 80vh;
  background-color: rgb(127, 213, 228);
  width: 50vh;
  display: flex;
  flex-wrap: wrap;
}

input {
  height: 13vh;
  width: 50vh;
  font-size: 40px;
  /* border-radius: 10px; */
  border-style: none;
  background-color: chocolate;
}
.btn {
  height: 10vh;
  width: 16vh;
  border-radius: 5px;
  border-style: none;
  margin-top: 4px;
  font-size: 25px;
  font-family: serif;
}

.buttons {
  background-color: burlywood;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
}

.input-box {
  background-color: cadetblue;
  width: 100%;
  height: 10vh;
}
